/* CSS Document */

#topcontent .newsbox ul{
	padding:0;	
}
#topcontent .newsbox ul li{
	font-size:12px;
	display:block;
	border-bottom:1px dashed #AFAFAF;
	padding:10px;
	position:relative;
}

#topcontent .newsbox ul li:before{
	content:".";
	padding-right:5px;	
}
#topcontent .newsbox ul li a:hover{
	text-decoration:underline;	
}

#topcontent .newsbox ul li span{
	position:absolute;
	right:0px;
	margin-right:10px;
}