/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../img/bj.gif);
}
a {
	text-decoration: none;
	color: #444;
}
#mainbox {
	width: 1000px;
	
	margin: 0 auto;
}
#logo {
	height: 95px;
	position: relative;
}
.logo-image {
	position: absolute;
	bottom: 10px;
}
#logo .logo-image img {
	width: 120px;
	height: 60px;
	float: left;
}
#logo .logo-name {
	position: absolute;
	bottom: -20px;
	left: 131px;
	font-size: 20px;
	float: left;
	width: 300px;
	font-weight: bold;
	height: 60px;
	color: #c30;
}
#logo .phone {
	position: absolute;
	bottom: 15px;
	right: 10px;
}
.setindex{
	position:absolute;
	right:0px;
	margin-top:10px;
	margin-right:10px;
	
}

.setindex li{
	list-style:none;	
	display:inline-block;
	color:#5E480A;	
}
.setindex li a{
	color:#5E480A;	
}
#mainmenu {
	position: relative;
}
#nav {
	background: url(../img/navbj.jpg) repeat-x;
	line-height: 44px;
}
#nav ul {
	list-style: none;
	text-align: center;
}
#nav ul li {
	display: inline-block;
	background: url(../img/navimg.jpg) no-repeat center right;
	width: 80px;
	font-size: 16px;
	height: 44px;
	font-weight: bold;
	line-height: 44px;
	text-align: center;
}
#nav ul li:last-child {
	background: none;
}
#nav-sub {
	position: absolute;
	top: 44px;
	left: 224px;
	width: 74px;
	display: none;
	border: rgb(225,214,182) 1px solid;
	font-size: 10px;
	padding-left: 10px;
	background: rgb(250,245,205);
}
#nav-sub ul {
	list-style: none;
}
#nav-sub ul li {
	line-height: 30px;
}
#bannerbox {
	text-align: center;
}
.spanbtn {
	position: relative;
	bottom: 35px;
}
.spanbtn span {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: #fff 1px solid;
	text-align: center;
	line-height: 18px;
	color: #fff;
}
.spanbtn span:hover {
	cursor: pointer;
	background: #000;
}
#middlebox {
	margin-top: -22px;
	margin-bottom:20px;
	background:#fff;
}
#midtop, #midbottom {
	background: url(../img/content_bg.jpg);
	width: 100%;
	height: 359px;
}
.topleft {
	background: url(../img/content_sm_bg.jpg);
	height: 336px;
	width: 326px;
	border: 1px solid #d7d7d7;
	margin-left: 3px;
	float: left;
}
.topleft .toptitle span {
	line-height: 58px;
	color: rgb(152,61,0);
	background: url(../img/contentimg.jpg) no-repeat left center;
	padding: 10px 0 10px 25px;
	margin-left: 14px;
}
.topleft .topimage img {
	width: 200px;
	height: 119px;
}
.topimage {
	text-align: center;
	margin: 10px 0px;
}
.toplist ul {
	list-style: none;
}
.topleft .toplist ul li {
	border-bottom: 1px dashed rgb(153,152,151);
	background: url(../img/ico.jpg) no-repeat center left;
	padding-left: 22px;
	line-height: 28px;
	font-size: 13px;
	margin: 3px 26px;
}
.toplist ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}
#midtop .topcenter {
	float: left;
	width: 330px;
}
#midtop .topcenter p {
	font-size: 13px;
	line-height: 28px;
	margin: 3px 20px;
}
#midtop .topright {
	float: right;
	margin-right: 3px;
}
.contactlist ul {
	list-style: none;
}
.topright .top-right-image img {
	width: 265px;
	height: 76px;
	border-bottom: 1px solid #d7d7d7;
}
.contactlist ul {
	margin-top: 10px;
}
.contactlist ul li {
	padding-left: 22px;
	line-height: 28px;
	font-size: 13px;
	margin: 1px 12px;
}
.top-right-image, contactlist {
	text-align: center;
}
.top-right-image {
	margin-top: 15px;
}
.vedio {
	width: 326px;
}
embed {
	width: 327px;
	height: 224px;
	margin-top: 19px;
}
#midbottom .topleft {
	width: 327px;
	height: 327px;
}
div#products-show {
	width: 660px !important;
}
#demo {
	background: #fff;
	margin: 10px auto;
	overflow: hidden;
	margin-top: 61px;
}
#indemo {
	float: left;
	width: 800%;
}
#demo1, #demo2 {
	float: left;
}
#indemo #demo1 img {
	width: 148px;
	height: 156px;
}
#indemo #demo1 a {
	margin: 0px 10px;
}
.bottombox{
	clear:both;	
	margin:20px 0px;	
}
#bbox{
	text-align:center;
	font-size:12px;
	
	line-height:20px;
}